{# Social Links build #}


<ul class="socials-sprite">
    <li class="icon-facebook"><a href="https://www.facebook.com/123regfans"><img src="{{ url }}images/sprite-social.svg" alt="" /></a></li>
    <li class="icon-twitter"><a href="https://twitter.com/123reg"><img src="{{ url }}images/sprite-social.svg" alt="" /></a></li>
    <li class="icon-rss"><a href="https://www.123-reg.co.uk/blog/feed/"><img src="{{ url }}images/sprite-social.svg" alt="" /></a></li>
{#    <li class="icon-google-plus"><a href="https://plus.google.com/+123reg/posts"><img src="{{ url }}images/sprite-social.svg" alt="" /></a></li> #}
    <li class="icon-li"><a href="https://www.linkedin.com/company/123-reg-co-uk"><img src="{{ url }}images/sprite-social.svg" alt="" /></a></li>
{#    <li class="icon-pinterest"><a href="https://www.pinterest.com/123reg/"><img src="{{ url }}images/sprite-social.svg" alt="" /></a></li> #}
</ul>